{%extends 'base.html'%}
<div>Олег Иванович Даль (25 мая 1941, Люблино, Московская область, РСФСР, СССР — 3 марта 1981, Киев,
    Украинская ССР, СССР) — советский актёр театра и кино. В 1963 году окончил Щепкинское театральное училище
    при Малом театре. В кино дебютировал в студенческие годы, сыграв Алика Крамера в фильме Александра Зархи
    «Мой младший брат». Среди киноролей Даля 1960-х годов — Женя Колышкин («Женя, Женечка и „катюша“»),
    Солдат и Кукольник («Старая, старая сказка»), Соболевский («Хроника пикирующего бомбардировщика»).
    В 1970-х годах фильмографию актёра пополнили Шут («Король Лир»), Лаевский («Плохой хороший человек»),
    Зилов («Отпуск в сентябре»), принц Флоризель («Клуб самоубийц, или Приключения титулованной особы») и
    другие персонажи. В 1987 году за роль Зилова Даль был посмертно удостоен специального приза Союза
    кинематографистов СССР на Всесоюзном фестивале телевизионных фильмов.
    Значительная часть творческой биографии Даля связана с театром «Современник», куда актёр был
    принят после окончания Щепкинского училища. На сцене «Современника» Даль играл в разные годы Ваську
    Пепла («На дне»), Мужчину («Вкус черешни»), Камаева («Провинциальные анекдоты»), Балалайкина («Балалайкин и К°»),
    сэра Эндрю Эгьюйчика («Двенадцатая ночь»). Работая в других театрах страны, артист воплотил на сцене образы
    Двойникова («Выбор», Ленинградский театр Ленинского комсомола), Беляева («Месяц в деревне», Театр на Малой
    Бронной). В последние месяцы жизни Даль репетировал в Малом театре роль Ежова (спектакль «Фома Гордеев»);
    до премьеры актёр не дожил.
</div>