{% extends 'base.html'%}
{% block content%}
<p>Все знакомые «дорожники» в один голос уверяют, что по технологии начинать расчистку дорог от
снега нужно только после завершения снегопада. </p> Раньше – просто бессмысленно. Между тем, еще
в Советском Союзе существовало такое понятие, как «патрульная очистка», которая подразумевала
как раз обратное – чистить снег нужно сразу.

<h1>Смотри-ка, это не просто текст, а заголовок! (h - header)</h1>
<h3>А это заголовок помельче, третьего уровня</h3>
<p>А вот просто абзац (p - paragraph) текста</p>
<p>Абзацы отделяются друг от друга.</p>
А текст без HTML-форматирования,
даже
если
он
разбит
по строкам
— слипнется в одну линию

<a href="first.html">Здесь вы можете почитать историю</a>
{% endblock content%}


